body {
	font-family: arial, helvetica, sans-serif;
}

header {
	position: absolute;
	top: 0px;
	right: 0px;
}

section {
	margin-top: 200px;
	text-align: center;
}

aside#why {
	margin-bottom: 40px;
}

h1 {
	font-size: 50px;
}

aside#nah {
	margin-top: 10px;
}

a:link, a:visited, a:hover, a:active {color: #000; text-decoration: none};